a {
   color: black;
   text-decoration: none;
}

p.caption {
   color: rgb(128, 128, 128)
}

/**
* Login and registration screen
**/

.registration-container .login-img {
   background-color: rgb(128, 128, 128);
}

.form-control {
   background-color: lightgray;
}

button {
   background-color: lightgray;
   transition: background-color 300ms ease-in-out;
}
button:hover {
   background-color: rgb(177, 177, 177);
   transition: background-color 200ms ease-in-out;
}
.messageDiv {
   color: black;
}