/*@media (min-width: 1440px) {
   .registration-container h1 {
      margin-top: 140px !important;
   }
}*/

@media (min-width: 786px) {

   /**
    * Login and registration screen
    **/
   .registration-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: none;
      grid-template-areas:
         "head-img content";
      column-gap: 40px;
      align-items: start;
      height: 100vh;
   }


   .registration-container .login-img {
      min-height: 100%;
      width: 100%;
      object-fit: cover;
   }

   .registration-container h1 {
      margin-top: 60px;
   }


   /**
   * Fonts
   **/
   h1 {
      font-size: 2.857rem;
   }

   h2 {
      font-size: 2.286rem;
   }

   h3 {
      font-size: 1.714rem;
   }

   h4 {
      font-size: 1.429rem;
   }

   h5 {
      font-size: 1.286rem;
   }

   h6 {
      font-size: 1.143rem;
   }

   p {
      font-size: 1.143rem;
   }

   input {
      font-size: 1.143rem;
   }

   label {
      font-size: 1.286rem;
   }

   button {
      font-size: 1.286rem;
   }

   .messageDiv {
      font-size: 1.143rem;
   }

   .form-control {
      font-size: 1.143rem;
   }
}
@media (min-width: 480px) {

   /**
    * Login and registration screen
    **/
   .login-img {
      height: 230px;
      object-position: center 85%;
   }
}