:host,
:root {
    --rem: 14;
}

* {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.container {
    margin: 0px;
    padding: 16px;
}
input {
    border-radius: 10px;
}

/**
* Bootstrap styles
**/
.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    padding: 8px;
}
.daily-challenge .row {
    margin: 0px;
}
.card-body {
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin-right: 8px;
    width: 130px;
}


/*#rUsername {
    width: auto !important;
  }*/

/**
* Login and registration screen
**/
.registration-container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto auto;
    grid-template-areas:
        "head-img"
        "content";
    gap: 24px;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.registration-container .login-img {
    border-radius: 10px;
    width: 100%;
    height: 170px;
    grid-area: head-img;
    object-fit: cover;
    object-position: center 85%;
}

.registration-container .content {
    grid-area: content;
}

.registration-container hr {
    margin-top: 40px;
    margin-bottom: 8px;
}

.registration-container h6 {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 24px;
}

.registration-container h1 {
    margin-top: 0px;
    margin-bottom: 24px;
}

.form-control {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 4px;
}

button {
    display: block;
    min-height: 48px;
    min-width: 120px;
    width: inherit;
    padding-left: 16px;
    padding-right: 16px;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.messageDiv {
    opacity: 0;
    animation: fadeOut 7s forwards;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    min-height: 48px;
    min-width: 120px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
}


/*.main-container {
    display: grid;
    grid-template-rows: 80px 1fr 55px 48px;
    grid-template-areas:
        "main-header"
        "main-content"
        "main-footer"
        "main-navigation";
    gap: 8px;
    align-items: start;
    max-width: 400px;
    height: 100vh;
    margin: 0 auto;
    padding: 0px;
}

.main-container header {
    border-radius: 0px;
    height: 75px;
    background-color: lightgray;
    grid-area: main-header;
}
.main-container .content {
    background-color: lightgray;
    grid-area: main-content;
}
.main-container footer {
    grid-area: main-footer;
}
.main-container nav {
    border-radius: 0px;
    background-color: lightgray;
    grid-area: main-navigation;
}

#communityNameMain {
}*/
/*header {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    flex-shrink: 0;
}
nav {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    height: 70px;
}
footer, nav {
    position: fixed;
    left: 0;
    right: 0;
}

footer {
    bottom: 48px;
}

nav {
    bottom: 0px; 
    height: 48px;
}
*/
/*.main-container main {
    flex-grow: 1; 
    overflow-y: auto; 
}





footer {
    margin: 8px;
    border-radius: 0px;
}

}*/


/**
* Main page
**/
.main-container {
    display: grid;
    grid-template-rows: 75px 1fr 50px 50px;
    grid-template-areas:
        "main-header"
        "main-content"
        "main-footer"
        "main-navigation";
    height: 100vh;
    max-width: 400px;
    margin: 0 auto;
    padding: 0px;
    gap: 8px;
}

.main-container header {
    grid-area: main-header;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
}
.header-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.aside-button {
    height: 48px;
    width: 48px;
    border-radius: 10px;
}

.main-container footer {
    grid-area: main-footer;
    margin-left: 8px;
    margin-right: 8px;
    position: sticky;
    z-index: 1000;
}
.footer-div {
    padding: 8px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
footer .aside-button {
    height: 30px;
    width: 30px;
}
footer form {
    margin: 0px;
    margin-left: 8px;
}
footer input {
    border-style: hidden;
    font-weight: 600;
}

.main-container  nav {
    grid-area: main-navigation;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.main-container  main {
    grid-area: main-content;
    overflow-y: auto;
    padding: 8px;
    position: relative;
}

.youtube-card {
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 16px;
}
iframe {
    width: 100%;
    border-radius: 10px;
    height: 160px;
}


/**
* Challenges
**/
.daily-challenge {
    padding: 8px;
    border-radius: 10px;
}

p.caption {
    margin-bottom: 0px;
}

.challenge-img {
   /* height: 80px;*/
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.challenge-name {
    max-height: 3em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

.challenge-description {
    max-height: 3em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.daily-challenge button {
    min-width: 48px;
    padding: 0px;
}

div.scrollmenu {
    width: 100%;
    height: fit-content;

    /**used to scroll text*/
    white-space: nowrap;    
    overflow-x: scroll;
    overflow-y: hidden;

    /**keep scrolling when
      *finger or cursor scrolling*/
    -webkit-overflow-scrolling: touch; 
    padding: 16 0 16 0;
    border-radius: 10px;
}
.card-title {
    margin-bottom: 0px;

    max-height: 3em;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

.challenges .card-text {
    display: none;
}

.challenges .card {
    flex-direction: row;
    border-style: none;
    width: fit-content;
    border-radius: 10px;
}
.challenges button {
    position: absolute;
    z-index: 1000;
    right: 8;
    min-width: 48px;
    width: 48px;
    height: 62px;
    border-radius: 10px;
}



