/*img {
    width: 200px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.form-container {
    max-width: 1000px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}
.container{
    max-width: 1000px;
    display: flex;
}

form {
    padding: 2rem;
}
input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
.input {
    display: flex;
}
.nav-container {
    width: 100%;
    background-color: #007bff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: white;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.nav-button:hover {
    background-color: #0056b3;
}*/

* {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    border-radius: 10px;
    box-sizing: border-box;
}

:host,
:root {
    --rem: 14;
}

.container {
    margin: 0px;
    padding: 16px;
}

/**
* Login and registration screen
**/
.registration-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        "head-img"
        "content";
    gap: 24px;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.registration-container .login-img {
    border-radius: 10px;
    width: 100%;
    height: 170px;
    grid-area: head-img;
}

.registration-container .content {
    grid-area: content;
}

.registration-container hr {
    margin-top: 40px;
    margin-bottom: 8px;
}

.registration-container h6 {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 24px;
}

.registration-container h1 {
    margin-top: 0px;
    margin-bottom: 24px;
}

.form-control {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 4px;
}

button {
    display: block;
    min-height: 48px;
    min-width: 120px;
    width: inherit;
    padding-left: 16px;
    padding-right: 16px;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.messageDiv {
    opacity: 0;
    animation: fadeOut 7s forwards;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    min-height: 48px;
    min-width: 120px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
}

/**
* Main page
**/
/*.main-container {
    display: grid;
    grid-template-rows: 80px 1fr 55px 48px;
    grid-template-areas:
        "main-header"
        "main-content"
        "main-footer"
        "main-navigation";
    gap: 8px;
    align-items: start;
    max-width: 400px;
    height: 100vh;
    margin: 0 auto;
    padding: 0px;
}

.main-container header {
    border-radius: 0px;
    height: 75px;
    background-color: lightgray;
    grid-area: main-header;
}
.main-container .content {
    background-color: lightgray;
    grid-area: main-content;
}
.main-container footer {
    grid-area: main-footer;
}
.main-container nav {
    border-radius: 0px;
    background-color: lightgray;
    grid-area: main-navigation;
}

#communityNameMain {
}*/
/*header {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    flex-shrink: 0;
}
nav {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    height: 70px;
}
footer, nav {
    position: fixed;
    left: 0;
    right: 0;
}

footer {
    bottom: 48px;
}

nav {
    bottom: 0px; 
    height: 48px;
}
*/
/*.main-container main {
    flex-grow: 1; 
    overflow-y: auto; 
}


.header-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-div {
    padding: 8px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.aside-button {
    height: 48px;
    width: 48px;
    background-color: gray;
}

footer {
    margin: 8px;
    border-radius: 0px;
}
footer .aside-button {
    height: 30px;
    width: 30px;
    background-color: gray;
}
footer form {
    margin-left: 8px;
    margin-bottom: 0px;
    border-style: hidden;
}
footer input {
    border-style: hidden;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
}*/

.main-container {
    display: grid;
    grid-template-rows: 75px 1fr 60px 70px;
    grid-template-areas:
        "main-header"
        "main-content"
        "main-footer"
        "main-navigation";
    height: 100vh;
    max-width: 400px;
    margin: 0 auto;
    padding: 0px;
}

.main-container header {
    grid-area: main-header;
    background-color: lightgray;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-container footer {
    grid-area: main-footer;
    background-color: lightgray;
    position: sticky;
    bottom: 70px;
    z-index: 1000;
}

.main-container  nav {
    grid-area: main-navigation;
    background-color: lightgray;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.main-container  main {
    grid-area: main-content;
    overflow-y: auto;
    background-color: lightgray;
}
